.u-section-1 {
  min-height: 600px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 600px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 80px 40px 40px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.11765rem;
  margin: 48px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 48px auto 0 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/1ada8b14e3a786febd451c56fa645da835cf1276c416dac2a591c245757e096110439cd8f0b11f8f13a7d3a1907e41c72092f64c73a767bef0bea0_1280.jpg");
  min-height: 600px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 464px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-1 .u-image-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 423px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-image-1 {
    background-position: 14.09% 50%;
    min-height: 379px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1140px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    background-position: 100% 50%;
    min-height: 569px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1475px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 358px;
  }
}.u-section-2 {
  min-height: 600px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 600px;
  background-image: url("images/f7a3724d5c7a2ac0e03f6da4e47dc6576f6d406c204e1498db39698f7126d235ad99cf346b01e08ecf43618ee7e37958fb0c523dcef46969b914f1_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 600px;
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 80px 40px 40px;
}

.u-section-2 .u-text-1 {
  margin: 66px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.11765rem;
  margin: 48px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 48px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 464px;
  }

  .u-section-2 .u-image-1 {
    min-height: 495px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 473px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-image-1 {
    background-position: 14.09% 50%;
    min-height: 379px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1139px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 1px;
  }

  .u-section-2 .u-image-1 {
    background-position: 100% 50%;
    min-height: 569px;
    order: 1;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 569px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1475px;
  }

  .u-section-2 .u-image-1 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-3 {
  min-height: 600px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 600px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 40px 80px 40px 40px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.11765rem;
  margin: 48px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 48px auto 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/this-morning-holly-t.jpg");
  min-height: 600px;
  background-position: 0% 0%;
  background-size: auto 130%;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 495px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 390px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-3 .u-image-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 354px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-image-1 {
    background-position: 14.09% 50%;
    min-height: 379px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1140px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 1px;
    min-height: 580px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    background-position: 100% 50%;
    min-height: 569px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 458px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 369px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 358px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 304px;
}

.u-section-4 .u-text-1 {
  width: 680px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}