.u-section-1 .u-sheet-1 {
  min-height: 323px;
}

.u-section-1 .u-text-1 {
  width: 860px;
  margin: 60px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 724px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  width: 700px;
  margin: 29px auto 0;
}

.u-section-2 .u-text-2 {
  width: 839px;
  margin: 20px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    height: 39px;
  }

  .u-section-2 .u-text-2 {
    width: 771px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 407px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  width: 700px;
  margin: 29px auto 0;
}

.u-section-3 .u-text-2 {
  width: 839px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  width: 839px;
  margin: 21px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    height: 39px;
  }

  .u-section-3 .u-text-3 {
    width: 771px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 457px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  width: 700px;
  margin: 29px auto 0;
}

.u-section-4 .u-text-2 {
  width: 839px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  width: 839px;
  margin: 21px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    height: 39px;
  }

  .u-section-4 .u-text-3 {
    width: 771px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 149px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  width: 700px;
  margin: 30px auto 0;
}

.u-section-5 .u-text-2 {
  width: 839px;
  margin: 19px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    height: 39px;
  }

  .u-section-5 .u-text-2 {
    width: 771px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}