.u-section-1 .u-sheet-1 {
  min-height: 398px;
}

.u-section-1 .u-text-1 {
  width: 860px;
  margin: 122px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 25px 56px 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 307px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  width: 700px;
  margin: 29px auto 0;
}

.u-section-2 .u-custom-html-1 {
  min-height: 173px;
  width: 1020px;
  margin: 30px auto 29px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    height: 39px;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }
}